                            body {
                            font-family: "Ubuntu", sans-serif;
                            color: #201b2d;
                            font-size: 15px;
                            margin: 0;
                            padding: 0;
                        }
                        
                        div,
                        p,
                        input,
                        button,
                        form,
                        span,
                        a,
                        ul,
                        li {
                            box-sizing: border-box;
                        }
                        
                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            margin: 0;
                            font-weight: bold;
                        }
                        
                        p {
                            line-height: 1.8em;
                        }
                        
                        .container {
                            width: 1170px;
                            margin: 0 auto;
                        }
                        
                        .header {
                            background: rgba(78, 190, 254, 1);
                            background: -moz-linear-gradient(left, rgba(78, 190, 254, 1) 0%, rgba(55, 143, 217, 1) 100%);
                            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78, 190, 254, 1)), color-stop(100%, rgba(55, 143, 217, 1)));
                            background: -webkit-linear-gradient(left, rgba(78, 190, 254, 1) 0%, rgba(55, 143, 217, 1) 100%);
                            background: -o-linear-gradient(left, rgba(78, 190, 254, 1) 0%, rgba(55, 143, 217, 1) 100%);
                            background: -ms-linear-gradient(left, rgba(78, 190, 254, 1) 0%, rgba(55, 143, 217, 1) 100%);
                            background: linear-gradient(to right, rgba(78, 190, 254, 1) 0%, rgba(55, 143, 217, 1) 100%);
                            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9', GradientType=1);
                            padding-top: 64px;
                            padding-bottom: 95px;
                            color: #fff;
                        }
                        
                        .wrapper {
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        .offer {
                            margin-top: 140px;
                        }
                        
                        .title {
                            font-size: 37px;
                            width: 590px;
                        }
                        
                        .title span {
                            font-size: 59px;
                        }
                        
                        .intro {
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            margin: 48px 0 43px 0;
                            width: 380px;
                        }
                        
                        .btn {
                            background-color: #ffd429;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 900;
                            display: block;
                            width: 222px;
                            padding: 21px 0;
                            text-align: center;
                            text-decoration: none;
                            transition: all 0.5s ease;
                        }
                        
                        .btn:hover {
                            background-color: #c8a51c;
                        }
                        
                        .desctop {
                            margin-top: 20px;
                        }
                        
                        .section-title {
                            font-size: 30px;
                            text-align: center;
                            margin-bottom: 75px;
                        }
                        
                        .learn {
                            padding: 108px 0 120px 0;
                        }
                        
                        .future {
                            display: flex;
                            justify-content: space-between;
                        }
                        
                        .future-item {
                            width: 287px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        
                        .future-title {
                            margin-top: 30px;
                            font-size: 19px;
                        }
                        
                        .future-text {
                            margin: 25px 0 0 0;
                            line-height: 1.5em;
                            text-align: center;
                        }
                        
                        .form {
                            background-color: #ecf3f8;
                            padding: 105px 0 100px 0;
                        }
                        
                        .section-title-form {
                            margin-bottom: 50px;
                        }
                        
                        .form-items {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 50px;
                        }
                        
                        .form-item {
                            width: 340px;
                            padding: 10px 0;
                            margin-bottom: 15px;
                            padding-left: 25px;
                        }
                        
                        .form-btn {
                            width: 340px;
                        }
                        
                        .footer {
                            background-color: #164d7a;
                            padding: 64px 0;
                        }
                        
                        .credits {
                            font-family: "Open Sans", sans-serif;
                            font-size: 14px;
                            color: #fff;
                            text-align: center;
                        }
                        /*Responsive*/
                        /*992px - 1200px*/
                        
                        @media screen and (max-width: 1220px) {
                            .container {
                                width: 960px;
                            }
                            .wrapper {
                                display: flex;
                                flex-direction: column;
                            }
                            .title {
                                width: auto;
                            }
                            .intro {
                                width: auto;
                            }
                        }
                        /*768px - 992px*/
                        
                        @media screen and (max-width: 992px) {
                            .container {
                                width: 720px;
                            }
                            .desctop {
                                display: block;
                                width: 95%;
                                margin: 55px auto 0;
                            }
                            /*576px - 768px*/
                            @media screen and (max-width: 768px) {
                                .container {
                                    width: 540px;
                                }
                                .future {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                }
                                .future-item {
                                    margin-top: 30px;
                                }
                            }
                            /*0 - 576px*/
                            @media screen and (max-width: 576px) {
                                .container {
                                    width: 90%;
                                }
                                .form-item {
                                    width: 310px;
                                }
                                .form-btn {
                                    width: 310px;
                                }
                            }